.generic-content-box {
  margin-top: 27px;
  margin-top: 2.7rem;
  background-color: #fff;
  padding: 20px 30px;
  padding: 2rem 3rem;  
}

/* ==========================================================================
   *Service usage
   ========================================================================== */
