/* Overriding h2 style to give h2 stag sans web book font */
h2 {
  font-family: "Stag Sans Web Book";
}

/*+new Adding 30px Margin to footer */
.site-footer {
    margin-top: 30px;
}


@media screen and (min-width: 757px) {
/* Fix for banner overlapping, when <br /> content is removed */
.masthead__main {
  overflow: hidden;

}

/* Positioning main to line up with masthead, without <br> tags  */
#main {
  margin-top: 40px;
}
}

@media screen and (max-width: 757px) {
/* Setting main content to use a negative margin to line up content with mobile menu button */
#main {
  margin-top: -40px;
}
.pattern-library__page-content {
  margin-top: 0;
}
}
